#classifiedTextSVG {
    border:1px solid gray;
    border-radius:10px;
    height:500px;
    width:1600px;
    margin:20px;
}

html {
    font-family: 'Trebuchet MS', sans-serif;
}

h2, h3 {
    text-align:center;
}

div.tooltip {
    position: absolute;
    padding: 0.75rem;
    background: #FFFFFF;
    color: #313639;
    border: 2px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1rem;
}